<!DOCTYPE html>
{# gib static files#}
{% load static %}
<html lang="en" style="background-color: black;" class="h-100">
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
{#boot strap good :)))#}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/atropia.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="{% static 'js/atropia.js' %}"></script>
<body class="h-100">

{# need to make this a flex column for some reason?#}
<div class="maincolumn container rounded mt-5 h-auto d-flex flex-column" >
    <div class="page-header row">
        <img class="img-fluid w-100 mx-auto border-dark" src="{% static 'images/header2.png' %}">
    </div>
{# Nav bar present if logged in, otherwise hide#}
{% if loggedIn %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark row">
  <a class="navbar-brand" href="#">Reporting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {% if role is 0 %}
            <a class="nav-item nav-link active" href="{% url 'reportsite:report' %}">Make Report </a>
        {% endif %}
        {% if role is 1 %}
            <a class="nav-item nav-link active" href="{% url 'reportsite:report' %}">Make Report </a>
            <a class="nav-item nav-link active" href="{% url 'reportsite:reportreview' %}">Review Reports </a>
        {% endif %}
        {% if role is 2 %}
            <a class="nav-item nav-link active" href="{% url 'reportsite:reportreview' %}">Review Reports </a>
            <a class="nav-item nav-link active" href="{% url 'reportsite:cityreview' %}">Review Cities </a>
        {% endif %}
        {% if role is 3 %}
            <a class="nav-item nav-link active" href="{% url 'reportsite:updatecrimes' %}">Update Crimes </a>
        {% endif %}
        {#    all users can log out #}
        <a class="nav-item nav-link active" href="{% url 'reportsite:logout' %}">Logout </a>
{#      <a class="nav-item nav-link" href="#">Features</a>#}
{#      <a class="nav-item nav-link" href="#">Pricing</a>#}
{#      <a class="nav-item nav-link disabled" href="#">Disabled</a>#}
    </div>
  </div>
</nav>
{% endif %}

<div class="row justify-content-center h-100 m-5">
{% block content %}{% endblock %}
</div>
</div>
</body>
</html>
