<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make Report</title>
</head>
{% block content %}
    <div class="card h-auto w-75 align-self-center mt-4" id="fileReportCard">
        <div class="card-body">
            <h5 class="card-title text-center">CREATE REPORT </h5>
            <div class="form-group">
                <div class="row mt-4">
                    <div class="input-group mb-3 col-sm-8">
                        <input type="text" class="form-control" id="inputCitizenName" placeholder="Citizen name"
                               aria-label="Citizen's name" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary orangebtn" type="button" id="btnCheckCitizenName">
                                Check Name
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCityButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select City
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                                <input class="form-control" id="userInput" type="text" placeholder="Search..">
                                {% for record in cities %}
                                    <a class="dropdown-item">{{ record.cityName }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="dropdown col-sm-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCrimeButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select Crime
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for record in crimes %}
                                    <a class="dropdown-item crime-dropdown-item" id="{{ record.id }}">{{ record.crimeName }}</a>
                                    <a class="d-none">{{ record.description }}</a>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-7 my-auto">
                        <a id="lblCrimeDesc">Description of Crime</a>
                    </div>
                    <div class="col-sm-2 my-auto">
                         <a class="btn orangebtn d-none" id="btnAddCrime">Add</a>
                    </div>
                </div>
                <div class="row m-3 justify-content-md-center" id="crimeBox" >
                    <a>Crimes:</a>
                    {# where crimes will actually go #}
                    <ul id="lstCrimeBox">

                    </ul>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <label for="txtRemarksArea">Additional information</label>
                        <textarea class="form-control" id="txtRemarksArea" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-3 ">
{#                <form class="w-50">#}
{#                    <input type="text" id="citizenID" class="d-">#}
{#                    <input type="text" id="crimeList" class="d-">#}
{#                    <input type="text" id="city" class="d-">#}
{#                    <input type="text" id="info" class="d-">#}
                    <button type="submit" class="btn orangebtn btn-primary w-50" id="btnSubmit">Submit Report</button>

{#                </form>#}
            </div>
        </div>
    </div>


    {#  Script for making dropdown work with a searchable input  #}
    <script>
        {# https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_filters_dropdown&stacked=h   #}
        $(document).ready(function () {
            $("#userInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $(".dropdown-menu a").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    {# Script to make crime description update with selections#}
        $(document).ready(function () {
        $(".crime-dropdown-item").on("click", function () {
            //the next item in the list is the description (is hidden)
            var desc = $(this).next()[0].innerHTML;
            document.getElementById('lblCrimeDesc').innerHTML = desc;
            //also make "GO" button visible if not already
            //do a check, make sure selection not already in crimebox list
            var selectionText=document.getElementById('dropdownCrimeButton').innerText;
            if(!document.getElementById('lstCrimeBox').innerHTML.includes(selectionText)){
                document.getElementById('btnAddCrime').classList="btn orangebtn";
            }
        });
    });
    {# On crimeAdd button, append to list #}
{#        TODO:Add option to remove crimes from report#}
    $(document).ready(function () {
        $("#btnAddCrime").on("click", function () {
            //hide button again
            document.getElementById('btnAddCrime').classList+=" d-none";
            //add crime to crimebox
            var crime=document.getElementById('dropdownCrimeButton').innerText;
            document.getElementById('lstCrimeBox').innerHTML+="<li>"+crime+"</li>";
        });
    });

    //https://stackoverflow.com/questions/44525167/how-to-set-headers-to-get-or-post-function
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        }
    });
    //submit post request to site containing report
    $(document).ready(function () {
        $("#btnSubmit").on("click", function () {
            var citizen=document.getElementById("inputCitizenName").value;
            var city=document.getElementById("dropdownCityButton").innerText;
            var crimes=document.getElementById("lstCrimeBox").innerHTML;
            var information=document.getElementById("txtRemarksArea").value;
            var csrf=document.getElementsByName("csrfmiddlewaretoken").value;
            $.post("{% url 'reportsite:receivereport' %}",
                {
                    citizen:citizen,
                    city:city,
                    crimes:crimes,
                    info:information
                },
                function(data){
                    alert(data);
                });
            });
        });
    </script>
{% endblock %}
</html>